<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableDescription</key>
	<string>Qwant for Safari makes Qwant as the default search engine in Safari - The search engine that doesn't know anything about you, and that changes everything!</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.qwant.for.safari</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qwantforsafari</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
